body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-image: linear-gradient(90deg,red,blue);
    font-family: Roboto,Arial,sans-serif;
    font-weight: bold;
}
#pizza1,#pizza2,#pizza3,#pizza4,#pizza5 {
    border: solid;
    overflow: hidden;
    margin: 5px;
    border-radius: 20px;
    background-color: white;
}
button {
    font-family: Roboto,Arial,sans-serif;
    background-color: greenyellow;
    border: solid;
    padding: 10px;
    font-size: large;
    font-weight: bold;
    border-radius: 20px;
}
button:active {
    background-color: rgb(132, 188, 48);
}